<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @customer.customerid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Contactmethod:</strong>
  <%= @customer.contactmethod %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %> |
<%= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' } %>

